<h2>Create a new enote</h2>
<form method="post" action="/users/profile/create">
   <div class="form-group">
    <label>Subject</label>
    <input type="text" class="form-control" placeholder="Subject" name="subject">
  </div>
  <div class="form-group">
    <label>Purpose</label>
    <input type="text" class="form-control" placeholder="Purpose" name="purpose">
  </div>
   <div class="form-group">
    <label>Details</label>
    <input type="email" class="form-control" placeholder="Details" name="details">
  </div>
  <div class="form-group">
    <label>Budget</label>
    <input type="password" class="form-control" placeholder="Budget" name="budget">
  </div>
  <div class="form-group">
    <label>
      {{#each users}}
        {{this}}
      {{/each}}
    </label>
  </div>
  <div class="form-group">
        <label for="sel1">Select Reviewers (hold shift key to select multiple):</label>
        <select multiple class="form-control" id="sel1">
          {{#each allusers}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>