 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  

<ul>
	<li><a href="/users/profile/create">Create a new note</a></li>
	<li><a href="/users/profile/view">View my notes</a></li>
	<li><a href="/users/profile/review">Review notes</a></li>
</ul>